//@import '~bootstrap/scss/bootstrap';
@use './partials/variables' as *;

/* #region RESET */
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
/* #endregion RESET */


body{
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* #region HEADER */
header{
    height: $small_sect_h;

    .container{
        height: inherit;
        display: flex;
        justify-content: space-between;

        img{
            align-self: center;
            height: 80%;
        }

        ul{
            display: flex;
            height: 100%;

            li{
                padding: 0.6rem;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 700;
                color: $secondary_dark;

                &.active{
                    border-bottom: 3px solid $primary_color;
                    color: $primary_color;
                }
            }
        }
    }
}
/* #endregion HEADER */

/* #region HERO */

section.hero{
    height: 300px;
    background-image: url('../img/jumbotron.jpg');
    background-position: center top;
    background-size: cover;
    .container{
        height: 100%;
        position: relative;
        div{
            background-color: $primary_color;
            text-transform: uppercase;
            padding: 10px 20px;
            color: white;
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(50%);
        }
    }
}

/* #endregion HERO */

/* #region COMICS */

section.comics{
    background-color: $secondary_dark;
    color: white;
    .container{
        padding: 20px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    button{
        background-color: $primary_color;
        text-transform: uppercase;
        padding: 10px 40px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        margin: 10px auto;
    }
    .card{
        width: calc(100% / 6 - 8px);
        margin: 12px 0;
        .img-wrapper {
            width: 100%;
            aspect-ratio: 1;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .title{
            margin-top: 16px;
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}

/* #endregion COMICS */

/* #region ICONS */

section.icons{
    background-color: $primary_color;
    color: white;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: $small_sect_h;
    }

    .icon-card{
        height: 30%;
        display: flex;
        align-items: center;
        img{
            height: 100%;
        }
        &:last-child > img{
            height: 75%;
        }
        span{
            text-transform: uppercase;
            margin-left: 6px;
        }
    }
}

/* #endregion ICONS */
